.home-page-menu-item {
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}

#intro-image {
    background: url("../images/bg-welcome.png");
    width: 100%;
    height: 300px;
}

#welcome-text-container {
    background: url("../images/welcome.png");
    text-align: center;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

#welcome-text {
    width: 100%;
    height: 100%
}

#map-canvas {
    height: 450px;
    width: 100%;
    border: 1px solid blue;
}

.hidden {
    display: none;
}

.card-with-padding {
    padding: 5px;
}

.height-seventy {
    height: 70%;
}

.dev-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
